body {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

#appcontainer {
  width: 300px;
  margin: 50px auto;
  background-color: #222;
  color: white;
  display: grid;
  grid-template-columns: 5px 85px 5px 120px 80px 5px;
  grid-template-rows: 18px 18px 18px 18px 20px 20px;

  grid-template-areas:
  "title title title title title title title"
  "blank blank blank blank blank blank blank"
  ". timer . trackinfo trackinfo  . ."
  ". timer . trackdata mono . ."
  ". timer . slider winbutton . .";
}

#playlistcontainer {
  width: 300px;
  margin: 50px auto;
  background-color: #222;
  display: grid;
}

.titlebar {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  grid-area: title;
}

.timer {
  color: lime;
  text-align: right;
  font-size: 24px;
  grid-area: timer;
  border: 1px solid gray;
}

.trackinfo {
  color: lime;
  text-transform: uppercase;
  text-align: left;
  font-size: 10px;
  grid-area: trackinfo;
  border: 1px solid gray;
}

.trackdata {
  color: white;
  text-align: left;
  font-size: 10px;
  padding-top: 3px;
  grid-area: trackdata;
}

.trackValue {
  color: lime;
  background-color: black;
  border: 1px solid gray;
  padding-left: 2px;
  padding-right: 2px;
}

.monostereo {
  color: white;
  font-size: 10px;
  grid-area: mono;
  justify-self: end;
  align-self: center;
}

.glow {
  text-decoration: none;
  font-style: normal;
  color: lime;
  text-shadow: 0 0 3px white;
}



/*  Sliders  */
.slidercontainer {
  margin-top: 3px;
  grid-area: slider;
  align-self: baseline;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  outline: none; /* Remove outline */
  height: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 13px;
  background: #999;
  cursor: pointer;
}

.vol {
  width: 65px;
  background-color: #ff9300; /* orange */
}

.bal {
  background-color: green;
  width: 40px;
}

/*  Buttons  */
#windowbtngroup {
  grid-area: winbutton;
  align-self: center;
  justify-self: end;
}
.winampbtn {
  background-color: #eee;
  font-size: 8px;
  outline: none;
}
